/* Attend */
.attend {
	&__title {
		display: block;
		height: inherit;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: var(--white);
		text-decoration: none;
		padding-top: 95px;
		padding-left: 20px;
	}
	&__link {
		font-weight: 600;
	}
}

@media (min-width: 1200px) {
	.attend {
		&__title {
			padding-top: 160px;
		}
	}
}