/* Bid */
.bid {
    display: none;

    &__wrapper {
        width: 320px;
        display: grid;
        grid-template-columns: 1fr 72px;
        grid-template-rows: 72px 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__close {
        width: 72px;
        height: 100%;
        border: 0;
        background-color: transparent;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    &__fieldset {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    &__adres-text {
        line-height: 3rem;
    }

    &__sum {
        margin-bottom: 8px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    &__sum-wrapper {
        flex-basis: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__item-times {
        line-height: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__day {
        flex-basis: 30%;
        text-align: end;
        &_sum {
            flex-basis: 31%;
        }
    }

    &__hours {
        flex-basis: 61%;
        &_sum {
            text-align: right;
        }
    }

    &__time {
        display: block;
        line-height: 1.5rem;
    }

    &__tel-number {
        color: var(--popup-hover);
        text-decoration: none;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 3rem;
    }

    &__legend {
        font-size: 1.25rem;
    }

    &__textarea {
        height: 84px;
        width: 100%;
        border: 1px solid var(--popup);
        resize: none;
        font-size: .9rem;
        padding-left: 20px;
    }
}

.bid_open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: var(--bid);
    color: var(--popup-hover);
    z-index: 2;
}
