/* Bid */
.bid {
    display: none;

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 72px;
        grid-template-rows: 72px 1fr;
    }

    &__close {
        width: 72px;
        height: 100%;
        border: 0;
        background-color: transparent;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    &__fieldset {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    &__adres {
        border-bottom: 1px solid var(--popup);
    }

    &__form {
        padding-top: 1rem;
    }

    &__adres-text {
        font-family: 'MuseoSansCyrl300', sans-serif;
        font-weight: 300;
        line-height: 3rem;
        position: relative;
        padding-left: 30px;
    }

    &__adres-text::before {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        background-image: url(../img/bid-3.png);
        background-size: 23px 23px;
        position: absolute;
        top: -3px;
        left: 0;
    }

    &__sum {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__sum-wrapper {
        flex-basis: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
    }

    &__item-times {
        line-height: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__day {
        flex-basis: 33%;
        text-align: end;

        &_sum {
            flex-basis: 31%;
        }
    }

    &__hours {
        flex-basis: 58%;

        &_sum {
            text-align: right;
        }
    }

    &__time {
        display: block;
        line-height: 1.5rem;
    }

    &__times {
        position: relative;
        border-bottom: 1px solid var(--popup);
    }

    &__times::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        top: 13px;
        left: 0;
        background-image: url(../img/bid-4.png);
        background-size: 23px 23px;
    }

    &__tel {
        border-bottom: 1px solid var(--popup);
    }

    &__tel-number {
        color: var(--popup-hover);
        text-decoration: none;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 3rem;
        position: relative;
        padding-left: 30px;
    }

    &__tel-number::before {
        display: block;
        content: '';
        width: 23px;
        height: 23px;
        position: absolute;
        top: -3px;
        left: 0;
        background-image: url(../img/bid-2.png);
        background-size: 23px 23px;
    }

    &__legend {
        font-size: 1.25rem;
        padding-bottom: 20px;
    }

    &__textarea {
        height: 84px;
        width: 100%;
        border: 1px solid var(--popup);
        resize: none;
        font-size: .9rem;
        padding-left: 20px;
        border-radius: 5px;
    }
    &__dot {
        display: block;
        width: 5px;
        height: 5px;
        background-color: red;
        border-radius: 50%;
    }
}

.bid_open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: var(--bid);
    color: var(--popup-hover);
    z-index: 2;
}
