/* Container */
.container {
	height: 100%;
	width: 95%;
	margin: 0 auto;
	&_popup {
		display: none;
	}
	&_popup-open {
		display: flex;
		flex-direction: column;
		width: 320px;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--header);
		z-index: 1;
		padding: 32px 24px 24px;
	}
	&_header {
		display: grid;
		grid-template-columns: 1fr min-content min-content 34px;
		align-items: center;
		column-gap: 16px; 
	}
	&_footer {
		display: grid;
		grid-gap: 24px;
		padding-top: 32px;
	}
}

@media (min-width: 768px) {
	.container {
		&_header {
			grid-template-columns: 1fr 197px min-content min-content 34px;
			column-gap: 32px; 
		}
		&_footer {
			padding-top: 40px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		&_header {
			grid-template-columns: min-content 197px 1fr min-content min-content;
			justify-content: end;
		}
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
		&_popup {
			display: none;
		}
		&_footer {
			padding: 50px;
			grid-template-columns: 1fr 1fr 1.5fr;
		}
	}
}