/* Container */
.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;

    &_popup {
        display: none;
    }

    &_popup-open {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--header);
        z-index: 1;
        padding: 32px 24px 24px;
    }

    &_header {
        display: grid;
        grid-template-columns: 1fr min-content min-content 34px;
        align-items: center;
        column-gap: 16px;
        width: 86%;
    }
    &_crumbs {
        padding-top: 57px;
    }
    &_benefits {
        padding-top: 70px;
    }
    &_spend {
        padding-top: 66px;
    }
    &_about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding-top: 8px;
    }
    &_promo {
        position: relative;
    }
    &_promo::after {
        content: '';
        display: block;
        width: 323px;
        height: 208px;
        position: absolute;
        top: -240px;
        left: calc(50% + -160px);
        background-image: url(../img/promo-360.png);
        background-repeat: no-repeat;
    }
    &_features {
        padding-top: 23px;
    }
    &_services {
        margin-bottom: 60px;
    }
    &_intro {
        position: relative;
        padding-top: 270px;
    }
    &_intro::after {
        content: '';
        display: block;
        width: 255px;
        height: 178px;
        position: absolute;
        top: 53px;
        left: calc(50% + -130px);
        background-image: url(../img/intro1-360.png);
        background-repeat: no-repeat;
    }

    &_calc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 40px;
        margin-bottom: 50px;
    }

    &_order {
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 62px;
        padding-bottom: 60px;
        position: relative;
    }
    &_order::before {
        content: '';
        display: block;
        width: 75px;
        height: 236px;
        position: absolute;
        top: -176px;
        left: -22px;
        background-image: url(../img/orderBg-360.png);
    }
    &_order::after {
        content: '';
        display: block;
        width: 75px;
        height: 236px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(../img/orderBg-360.png);
    }

    &_howto {
        padding-top: 32px;
        padding-bottom: 60px;
    }
    &_attend {
        padding-top: 60px;
    }
    &_sertif {
        padding-top: 70px;
    }

    &_question {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    &_team {
        padding-top: 60px;
        padding-bottom: 30px;
        position: relative;
    }
    &_team::before {
        content: '';
        display: block;
        width: 186px;
        height: 27px;
        position: absolute;
        top: 180px;
        left: 0;
        background-image: url(../img/teamBg2-768.png);
    }

    &_footer {
        display: grid;
        grid-gap: 24px;
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
    .container {
        &_header {
            width: 95%;
            grid-template-columns: 1fr 197px min-content min-content 34px;
            column-gap: 32px;
        }
        &_crumbs {
            width: 95%;
        }
        &_intro {
            padding-top: 380px;
            width: 95%;
        }
        &_intro::after {
            width: 378px;
            height: 263px;
            background-image: url(../img/intro1-768.png);
            top: 60px;
            left: calc(50% + -189px);
        }
        &_benefits {
            width: 95%;
            padding-top: 87px;
        }
        &_spend {
            padding-top: 120px;
        }
        &_about {
            padding: 30px 40px;
            min-height: inherit;
            gap: 15px;
        }
        &_promo {
            width: 95%;
        }
        &_promo::after {
            width: 249px;
            height: 252px;
            top: -40px;
            left: calc(100% + -230px);
            background-image: url(../img/promo-768.png);
        }
        &_features {
            width: 95%;
            margin-bottom: 40px;
        }
        &_services {
            width: 732px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }
        &_question {
            padding-top: 33px;
            padding-bottom: 38px;
            position: relative;
        }
        &_question::after {
            content: '';
            display: block;
            width: 83px;
            height: 101px;
            position: absolute;
            top: 0;
            right: -40px;
            background-image: url(../img/questionBg-768.png);
        }
        &_calc {
            width: 95%;
            padding-top: 37px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, min-content);
            justify-content: space-between;
            background-image: url(../img/calc-768.png);
            background-repeat: no-repeat;
            background-size: 227px 102px;
            background-position: 100% 100%;
        }

        &_order {
            padding-top: 60px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: 250px 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(6, min-content);
            justify-items: start;
            grid-row-gap: 20px;
        }
        &_order::before {
            content: '';
            display: block;
            width: 72px;
            height: 236px;
            position: absolute;
            top: -176px;
            left: -22px;
            background-image: url(../img/orderBg-768.png);
        }
        &_order::after {
            content: '';
            display: block;
            width: 78px;
            height: 101px;
            position: absolute;
            bottom: 30px;
            right: -50px;
            background-image: url(../img/orderBg2-768.png);
        }
        &_attend {
            width: 95%;
        }
        &_sertif {
            width: 95%;
        }

        &_team {
            width: 95%;
            display: grid;
            grid-template-columns: 1fr 320px;
            grid-template-rows: repeat(3, min-content);
            grid-column-gap: 50px;
            position: relative;
        }
        &_team::before {
            content: '';
            display: block;
            width: 186px;
            height: 27px;
            position: absolute;
            top: 125px;
            left: 0;
            background-image: url(../img/teamBg2-768.png);
        }
        &_team::after {
            content: '';
            display: block;
            width: 72px;
            height: 70px;
            position: absolute;
            top: 220px;
            left: 370px;
            background-image: url(../img/teamBg-768.png);
            z-index: -1;
        }

        &_footer {
            width: 95%;
            padding-top: 40px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

@media (min-width: 1024px) {
    .container {
        &_header {
            width: 93%;
            grid-template-columns: min-content 197px 1fr min-content min-content;
            justify-content: end;
        }
        &_crumbs {
            padding-top: 40px;
            width: 92%;
        }
        &_promo {
            width: 92%;
        }
        &_promo::after {
            width: 341px;
            height: 321px;
            top: -40px;
            left: calc(100% + -300px);
            background-image: url(../img/promo-1024.png);
        }
        &_features {
            width: 92%;
            padding-top: 24px;
            margin-bottom: 40px;
        }
        &_services {
            width: 944px;
        }
        &_intro {
            padding-left: 360px;
            padding-top: 50px;
        }
        &_intro::after {
            width: 340px;
            height: 385px;
            background-image: url(../img/intro1-1024.png);
            left: 0;
        }

        &_trand {
            width: 92%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
        }
        &_spend {
            padding-top: 110px;
        }

        &_calc {
            background-image: url(../img/calc-1024.png);
            background-size: 235px 205px;
            background-position: 100% 100%;
            padding-top: 70px;
        }

        &_order {
            grid-row-gap: 15px;
        }
        &_order::before {
            content: '';
            display: block;
            width: 69px;
            height: 236px;
            position: absolute;
            top: -170px;
            left: -60px;
            background-image: url(../img/orderBg1-1024.png);
        }
        &_order::after {
            content: '';
            display: block;
            width: 129px;
            height: 101px;
            position: absolute;
            top: 0;
            right: -66px;
            background-image: url(../img/orderBg2-1024.png);
        }

        &_howto {
            width: 95%;
            padding-top: 82px;
            position: relative;
        }
        &_howto::before {
            content: '';
            display: block;
            width: 172px;
            height: 538px;
            position: absolute;
            top: 227px;
            right: -25px;
            background-image: url(../img/howto-1024.png);
        }

        &_attend {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: min-content 1fr;
        }
        &_team {
            width: 95%;
            grid-template-columns: 1fr 448px;
            grid-template-rows: repeat(3, min-content);
            grid-column-gap: 50px;
        }
        &_team::before {
            content: '';
            display: block;
            width: 186px;
            height: 27px;
            position: absolute;
            top: 149px;
            left: -20px;
            background-image: url(../img/teamBg2-768.png);
        }
        &_team::after {
            content: '';
            display: block;
            width: 72px;
            height: 70px;
            position: absolute;
            top: 220px;
            left: 930px;
            background-image: url(../img/teamBg-1024.png);
            z-index: -1;
        }

        &_footer {
            width: 92%;
            padding-top: 70px;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        &_header {
            grid-template-columns: min-content 197px 1fr repeat(2, min-content);
        }
        &_trand {
            padding: 0;
        }
        &_about {
            width: 1172px;
            padding: 60px 0 60px;
        }
        &_promo::after {
            width: 450px;
            height: 347px;
            top: -53px;
            left: calc(100% - 435px);
            background-image: url(../img/promo-1200.png);
        }
        &_spend {
            padding-top: 117px;
        }
        &_features {
            margin-bottom: 80px;
        }
        &_intro {
            padding-top: 80px;
        }
        &_intro::after {
            width: 357px;
            height: 397px;
            top: 100px;
            background-image: url(../img/intro1-1200.png);
            left: -15px;
        }
        &_question::before {
            content: '';
            display: block;
            width: 129px;
            height: 101px;
            position: absolute;
            top: 50px;
            left: -40px;
            background-image: url(../img/questionBg1-1200.png);
        }
        &_question::after {
            content: '';
            display: block;
            width: 83px;
            height: 101px;
            position: absolute;
            top: 0;
            right: -40px;
            background-image: url(../img/questionBg2-1200.png);
        }

        &_popup {
            display: none;
        }

        &_calc {
            width: 1019px;
            padding-top: 90px;
        }

        &_order {
            width: 970px;
        }
        &_order::before {
            content: '';
            display: block;
            width: 78px;
            height: 236px;
            position: absolute;
            top: 40px;
            left: -110px;
            background-image: url(../img/orderBg1-1200.png);
        }
        &_order::after {
            content: '';
            display: block;
            width: 129px;
            height: 101px;
            position: absolute;
            top: 0;
            right: -100px;
            background-image: url(../img/orderBg2-1200.png);
        }

        &_sertif {
            margin-bottom: 80px;
        }

        &_team {
            grid-template-columns: repeat(4, 1fr);
        }
        &_team::after {
            content: '';
            display: block;
            width: 72px;
            height: 70px;
            position: absolute;
            top: 305px;
            left: 1050px;
            background-image: url(../img/teamBg-1024.png);
            z-index: -1;
        }

        &_footer {
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
}
