/* Crumbs */
.crumbs {
    font-size: 12px;
    line-height: 16px;

    &_about {
        padding: 0;
        align-self: flex-start;
    }
}

@media (min-width: 768px) {
    .crumbs {
        margin-top: 60px;
        margin-bottom: 24px;

        &_about {
            margin: 0;
        }
    }
}
