/* Form */
.form {
    border: 0;

    &_question {
        background-color: var(--form);
        margin-bottom: 0;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        display: inline-block;
        width: 65%;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 20px;
        color: var(--text-light);
    }

    &__fieldset {
        padding: 20px;
    }

    &__volume &__input {
        width: 60%;
        height: 50px;
        font-size: 14px;
        font-weight: 500;
        background-color: var(--white);
        color: var(--form-input);
        border: 0;
        margin-right: 15px;
    }

    &__input {
        &_question {
            font-size: 14px;
            line-height: 44px;
            font-weight: 500;
            border: 0;
            width: 100%;
            padding-left: 20px;
            margin-bottom: 20px;
            color: var(--form-input);
        }

        &_volume {
            padding-left: 20px;
            width: 40%;
        }

        &_check {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
        }

        &_name,
        &_tel {
            width: 100%;
            border: 1px solid var(--popup);
            line-height: 2rem;
        }

        &_name {
            padding-left: 20px;
        }

        &_tel {
            display: block;
            border-left: 0;
            padding-left: 10px;
        }

        &_tel-pais {
            flex-shrink: 0;
            border: 0;
        }
    }

    &__captcha {
        width: 60%;
        height: 36px;
        border: 1px solid var(--check-bid);
        color: var(--captcha);

    }

    &__code {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__tel-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__tel-pais {
        width: 40%;
    }

    &__det {
        height: 100%;
        border: 1px solid var(--popup);
        border-right: 0;
    }

    &__sum {
        height: inherit;
        display: flex;
        align-items: center;
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
    }

    &__tetra {
        position: absolute;
        top: -5px;
        left: 0;
        width: 2em;
        height: 2em;
        box-shadow: 0 0 0 2px var(--text);
        border-radius: 5px;
        background-color: var(--white);
    }

    /* Form Question*/
    &__check {
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid var(--border);
    }

    &__check:checked {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5101 0.545536C11.3936 0.445947 11.2586 0.370285 11.1129 0.32287C10.9671 0.275455 10.8135 0.257216 10.6607 0.269195C10.5078 0.281174 10.3589 0.323136 10.2223 0.392685C10.0857 0.462234 9.96419 0.558008 9.86462 0.674536L4.83962 6.55329L2.13587 4.29579C1.9187 4.11459 1.6385 4.02698 1.3568 4.0522C1.07509 4.07742 0.814905 4.2134 0.633372 4.43029C0.543689 4.53762 0.476037 4.66157 0.434283 4.79506C0.392528 4.92855 0.37749 5.06896 0.390027 5.20826C0.402565 5.34757 0.442432 5.48303 0.507351 5.60692C0.572269 5.73081 0.660966 5.84069 0.768372 5.93029L4.39137 8.95529C4.50317 9.04848 4.63296 9.11765 4.77267 9.15847C4.91237 9.19929 5.05899 9.21088 5.20337 9.19254C5.35641 9.18076 5.50562 9.13888 5.64244 9.06929C5.77925 8.9997 5.90097 8.90378 6.00062 8.78704L11.6391 2.19029C11.8402 1.955 11.9395 1.64949 11.9153 1.34095C11.8911 1.03241 11.7454 0.746113 11.5101 0.545036' fill='grey'/%3E%3C/svg%3E");
        background-size: 15px 15px;
    }

    /* End Form Question*/

    /* Checked */
    &__input_check:checked + &__tetra {
        background-color: var(--blue);
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.51.546a1.167 1.167 0 0 0-1.645.129L4.84 6.553 2.136 4.296a1.067 1.067 0 0 0-1.746.912 1.064 1.064 0 0 0 .378.722l3.623 3.025a1.06 1.06 0 0 0 .812.238 1.166 1.166 0 0 0 .798-.406l5.638-6.597A1.167 1.167 0 0 0 11.51.545' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 6px 8px;
        background-size: 36px 30px;
        box-shadow: 0 0 0 2px var(--blue);
    }

    &__input_check:focus + &__tetra {
        box-shadow: 0 0 0 2px green;
    }

    &__input_check:checked:focus + &__tetra {
        box-shadow:
            0 0 0 2px var(--blue),
            0 0 0 3px green;
    }

    &__input_check:disabled + &__tetra {
        box-shadow: 0 0 0 2px var(--text-light);
    }

    &__input_check:checked:disabled + &__tetra {
        background-color: var(--text-light);
        box-shadow: 0 0 0 2px var(--text-light);
    }

    /* End checked*/

    &__label {
        display: block;

        &_check {
            padding-left: 40px;
            position: relative;
            font-size: 13px;
            line-height: 24px;
        }

        &_select,
        &_volume {
            margin-bottom: 10px;
        }

        &_question {
            font-size: 12px;
            line-height: 20px;
            align-self: start;
        }
    }

    &__select {
        width: 100%;
        padding: 14px 144px 14px 20px;
        font-size: 14px;
        font-weight: 500;
        background-color: var(--white);
        border: 0;
        color: var(--form-input);
    }

    &__box {
        margin-bottom: 40px;
    }

    &__volume {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 10px;
    }

    &__check-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;
        margin-bottom: 34px;
    }

    &__check_bid {
        display: block;
        width: 32px;
        height: 18px;
        background-color: var(--check-bid);
    }

    &__check_bid:checked {
        background-color: var(--check-bid-hover);
    }

    &__bid-check {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__code-numbers {
        width: 30%;
        height: 36px;
        background-color: var(--check-bid);
    }

    &__blue {
        color: var(--blue);
    }

    &__camp {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .form {
        &__wrapper {
            display: grid;
            grid-template-columns: 226px 226px 174px;
            grid-template-rows: 48px 20px;
            grid-column-gap: 24px;
            grid-row-gap: 13px;
            width: 674px;
        }

        &__fieldset {
            padding: 0;
            font-size: 14px;
            line-height: 24px;
        }

        &__select {
            color: var(--form-input);
        }

        &__label {
            grid-column: 1/2;
            grid-row: 1/2;

            &_volume {
                flex-basis: 100%;
            }
        }

        &__volume &__input {
            width: 35%;
        }

        &__camp {
            &_select {
                width: 85%;
            }

            &_volume {
                display: flex;
            }

            &_check {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
        }

        &__box {
            margin: 0;
            flex-basis: 40%;

            &:first-child {
                flex-basis: 100%;
            }
        }

        &__info {
            margin-bottom: 30px;
        }

        &__input {
            width: 226px;
            padding-left: 15px;
            margin: 0;

            &_volume {
                width: 40%;
                color: var(--form-input);
            }
        }

        &__check-box {
            grid-column: 1/3;
            grid-row: 2/3;
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
    .form {
        &__volume &__input {
            width: 40%;
        }
    }
}
