/* Howto */
.howto {
    min-height: 500px;
    background-color: var(--odd);

    &__det {
        padding: 20px;
        background-color: var(--white);
        margin-bottom: 20px;
    }

    &__sum {
        list-style: none;
        position: relative;
        font-size: 14px;
        cursor: pointer;
        display: inline-block;
        width: 80%;
    }

    &__sum::after {
        content: '+';
        font-size: 30px;
        color: var(--blue);
        position: absolute;
        right: -20%;
        top: -10px;
    }

    &__list {
        padding-top: 20px;
    }

    &__list li {
        line-height: 24px;
        margin-bottom: 12px;
        list-style: inside;
    }

    details[open] > &__sum::after {
        content: '—';
    }

    details[open] {
        border-left: 3px solid var(--blue);
        padding-left: 17px;
    }
}
