/* Howto */
.howto {
    min-height: 500px;
    background-color: var(--odd);

    &__det {
        padding: 20px;
        background-color: var(--white);
        margin-bottom: 10px;
    }

    &__sum {
        list-style: none;
        position: relative;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        cursor: pointer;
        display: inline-block;
        width: 80%;
    }

    &__sum::after {
        content: '+';
        font-size: 30px;
        color: var(--blue);
        position: absolute;
        right: -20%;
        top: 0;
    }

    &__list {
        padding-top: 30px;
    }

    &__list li {
        line-height: 25px;
        margin-bottom: 15px;
        list-style: inside;
    }

    details[open] > &__sum::after {
        content: '—';
    }

    details[open] {
        border-left: 3px solid var(--blue);
        padding-left: 17px;
    }
}

@media (min-width: 768px) {
    .howto {
        &__det {
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .howto {
        &__det {
            width: 83%;
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 1200px) {
    .howto {
        &__det {
            width: 70%;
        }
    }
}