/* Icon */
.icon {
    fill: var(--white);

    &_header {
        width: 20px;
        height: 20px;
    }

    &_bid {
        width: 34px;
        height: 34px;
        stroke: var(--popup);
        stroke-width: 2px;
    }

    &_days {
        width: 16px;
        height: 16px;
        stroke: var(--popup);
        stroke-width: 2px;
    }

    &_bid:hover {
        color: var(--popup-hover);
    }

    &-country {
        background-image: url(../img/7.png);
        width: 24px;
        height: 24px;
        margin-left: 15px;
        &_ua {
            background-image: url(../img/380.png);
            width: 24px;
            height: 24px;
            margin-left: 15px;
        }
        &_by {
            background-image: url(../img/375.png);
            width: 24px;
            height: 24px;
            margin-left: 15px;
        }
        &_ru {
            background-image: url(../img/7.png);
            width: 24px;
            height: 24px;
            margin-left: 15px;
        }
    }

    &_menu {
        width: 34px;
        height: 34px;
        stroke-width: 3px;
    }

    &_about {
        width: 52px;
        height: 52px;
    }

    &_benefits {
        width: 30px;
        height: 30px;
    }

    &_order {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }

    &_sum {
        stroke: var(--popup);
        width: 16px;
        height: 11px;
    }

    &_country-check {
        width: 16px;
        height: 12px;
        stroke: var(--check-bid);
    }

    &_country-check-open {
        transform: rotate(180deg);
    }

    &_bid-adres {
        display: block;
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 768px) {
    .icon {
        &_order {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1024px) {
    .icon {
        &_about {
            width: 76px;
            height: 76px;
        }

        &_benefits {
            width: 40px;
            height: 40px;
        }
    }
}

@media (min-width: 1200px) {
    .icon {
        &_header {
            width: 30px;
            height: 30px;
        }

        &_sum {
            display: none;
        }
    }
}
