/* Intro */
.intro {

    &__header {
        font-family: Montserrat-Bold, sans-serif;
        font-size: 20px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        color: var(--install-text);
        margin-bottom: 50px;
    }
}
