/* Link */
.link {
	text-decoration: none;
	color: var(--white);
	&_blue {
		display: inline-block;
		font-size: 12px;
		line-height: 12px;
		font-family: 'Montserrat-Bold', sans-serif;
		font-weight: 700;
		color: var(--white);
		padding: 14px 24px;
		background-color: var(--blue);
		border-radius: 5px;
		border: 0;
		&-form {
			font-size: 14px;
			width: 100%;
		}
	}
	&_footer {
		color: var(--white);
	}
}

@media (min-width: 768px) {
	.link {
		&_blue {
			&-form {
				width: 174px;
				grid-column: 3/4;
				grid-row: 1/2;
			}
		}
	}
}