/* List */
.list {
    &_header {
        display: none;
    }

    &_about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        min-height: 300px;
    }

    &_attend {
        display: flex;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 50px;
    }

    &_sum li {
        padding-top: 20px;
    }

    &_sum li {
        margin-bottom: 0;
    }

    &__item {
        &_footer {
            margin-bottom: 32px;
        }

        &_about {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            letter-spacing: 1.5px;
        }

        &_intro {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        &_benefits {
            font-size: 14px;
            color: var(--black);
            margin-bottom: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
        }

        &_attend {
            width: 290px;
            height: 195px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            flex: 0 0 auto;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            position: relative;
        }
        &_attend:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 10px;
            display: block;
            width: 30px;
            height: 4px;
            background-color: var(--blue);
            border-radius: 4px;
        }

        &_attend:nth-child(1) {
            background-image: url(../img/attend1.jpg);
        }
        &_attend:nth-child(1):before {
            content: 'Монтаж вентиляции';
            display: block;
            min-height: 50px;
            vertical-align: super;
            position: absolute;
            bottom: -50px;
            left: 0;
            padding-left: 50px;
        }

        &_attend:nth-child(2) {
            background-image:  url(../img/attend2.jpg);
        }
        &_attend:nth-child(2):before {
            content: 'Монтаж водяных потолочных панелей';
            display: block;
            min-height: 50px;
            vertical-align: super;
            position: absolute;
            bottom: -50px;
            left: 0;
            padding-left: 50px;
        }

        &_attend:nth-child(3) {
            background-image: url(../img/attend3.jpg);
        }
        &_attend:nth-child(3):before {
            content: 'Монтаж котельной';
            display: block;
            min-height: 50px;
            vertical-align: super;
            position: absolute;
            bottom: -50px;
            left: 0;
            padding-left: 50px;
        }

        &_attend:nth-child(4) {
            background-image: url(../img/attend4.jpg);
        }
        &_attend:nth-child(4):before {
            content: 'Монтаж систем отопления';
            display: block;
            min-height: 50px;
            vertical-align: super;
            position: absolute;
            bottom: -50px;
            left: 0;
            padding-left: 50px;
        }
    }

    &__text {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }

    &__title {
        display: block;
        font-size: 14px;
        line-height: 28px;
        color: var(--black);
        font-style: normal;
        position: relative;
        letter-spacing: 1px;
    }

    &__title::after {
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        background-image: url(../img/arrow-intro.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 6px;
        left: -20px;
    }

    &__submenu_footer {
        display: none;
    }
}

@media (min-width: 768px) {
    .list {
        &_about {
            min-height: 150px;
        }

        &_benefits {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__item {
            &_about {
                flex-basis: 20%;
            }

            &_intro {
                padding-left: 35px;
                margin-bottom: 0;
            }
        }

        &__title::after {
            left: -30px;
        }
        &_footer {
            padding-left: 20px;
        }
    }
}

@media (min-width: 1024px) {
    .list {
        &__title {
            font-size: 18px;
            line-height: 32px;
        }
        &_attend {
            overflow: visible;
            flex-wrap: wrap;
            justify-content: space-between;
            grid-column: 1/5;
            grid-row: 2/3;
            margin: 0;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }

        &__item {
            &_about {
                flex-basis: 19%;
            }

            &_benefits {
                font-size: 20px;
            }

            &_attend {
                width: 23%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .list {
        &_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &_about {
            justify-content: space-between;
        }

        &_benefits {
            justify-content: space-around;
        }

        &__item {
            display: flex;
            align-items: center;
            &_about {
                flex-basis: 20%;
            }

            &_intro {
                align-items: flex-start;
            }

            &_benefits {
                justify-content: flex-start;
                width: 24%;
            }

            &_attend {
                width: 23%;
                height: 273px;
            }
            &_attend:nth-child(1) {
                background-image:  linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/attend1.jpg);
            }
            &_attend:nth-child(2) {
                background-image:  linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/attend2.jpg);
            }
            &_attend:nth-child(3) {
                background-image:  linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/attend3.jpg);
            }
            &_attend:nth-child(4) {
                background-image:  linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(../img/attend4.jpg);
            }
            &_attend:nth-child(1)::before,
            &_attend:nth-child(1)::after {
                display: none;
            }
            &_attend:nth-child(2)::before,
            &_attend:nth-child(2)::after {
                display: none;
            }
            &_attend:nth-child(3)::before,
            &_attend:nth-child(3)::after {
                display: none;
            }
            &_attend:nth-child(4)::before,
            &_attend:nth-child(4)::after {
                display: none;
            }

            &_footer {
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &_menu {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }

        &_install {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }
}
