/* Services */
.services {
	margin-bottom: 60px;
	&__card {
		border-radius: 10px;
		padding: 24px;
		margin-bottom: 10px;
	}
	&__card:nth-child(1) {
		background: url(../img/services1.png), linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
		background-repeat: no-repeat;
		background-position: 95% 95%;
	}
	&__card:nth-child(2) {
		background-image: url(../img/services1.png), linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
		background-repeat: no-repeat;
		background-position: 100% 95%;
	}
	&__card:nth-child(3) {
		background-image: url(../img/services1.png), linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
		background-repeat: no-repeat;
		background-position: 100% 95%;
	}
	&__card:nth-child(4) {
		background-image: url(../img/services1.png), linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
		background-repeat: no-repeat;
		background-position: 100% 100%;
	}
	&__text {
		font-size: 14px;
		line-height: 18px;
		color: var(--text-light);
		margin-bottom: 46px;
	}
}

@media (min-width: 768px) {
	.services {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		&__card {
			flex-basis: 40%;
			margin-bottom: 20px;
		}
	}
}

@media (min-width: 1200px) {
	.services {
		&__card {
			flex-basis: 573px;
		}
	}
}