/* Services */
.services {
	&__card {
		background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
		background-repeat: no-repeat;
		border-radius: 10px;
		padding: 24px;
		margin-bottom: 10px;
	}
	&:nth-of-type(1) {
		background-image: url(../img/services1.png);
		background-size: 120px 110px;
		background-position: 95% 95%;

	}
	&:nth-child(2) {
		background-image: url(../img/services2.png);
		background-size: 126px 110px;
		background-position: 100% 95%;
	}
	&:nth-child(3) {
		background-image: url(../img/services3.png);
		background-size: 120px 110px;
		background-position: 100% 95%;
	}
	&:nth-child(4) {
		background-image: url(../img/services4.png);
		background-size: 120px 110px;
		background-position: 100% 100%;
	}
	&__text {
		font-size: 14px;
		line-height: 18px;
		color: var(--text-light);
	}
}

@media (min-width: 768px) {
	.services {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		&__card {
		flex-basis: 48%;
		}
	}
}