/* Table */
.table {
    width: 100%;
    &__row:nth-child(odd) {
        background-color: var(--odd);
    }
    &__thead th {
        vertical-align: super;
        font-size: 14px;
    }
    &__row td {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
        text-align: center;
        border-bottom: 1px solid #e8e9eb;
        color: var(--text);
    }
}

@media (max-width: 768px) {
    .table {
        width: 100%;

        &__thead {
            display: none;
        }

        &__row {
            display: block;
            margin-bottom: 30px;
        }

        &__row td {
            display: block;
            text-align: right;
            font-size: 12px;
            line-height: 16px;
            color: var(--text);
        }

        &__row td::before {
            content: attr(aria-lebel);
            float: left;
            font-family: Montserrat-Medium, sans-serif;
            font-size: 12px;
            font-weight: 600;
        }
    }
}

@media (min-width: 1024px) {
    .table {
        &__thead {
            font-size: 16px;
        }
        &__row td {
            font-size: 14px;
        }
    }
}

@media (min-width: 1200px) {
    .table {
        &__thead th {
            width: 20%;
            font-size: 16px;
            line-height: 24px;
        }
    }
}