.title {
    &_h1 {
        display: none;
    }

    &_h2 {
        font-size: 28px;
        line-height: 48px;
    }

    &_h2-table,
    &_h2-calc {
        margin: 0;
    }

    &_h2-calc {
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 15px;
    }
    &_h2-order {
        justify-self: start;
    }

    &_h3 {
        font-size: 16px;
        line-height: 24px;
    }
    &_h3-sertif {
        display: none;
    }

    &_about {
        text-align: center;
        font-size: 28px;
    }

    &_footer {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: var(--footer-title);
        margin-bottom: 26px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: var(--text-light);
    }
}

@media (min-width: 768px) {
    .title {
        &_h1 {
            display: block;
            font-size: 28px;
            line-height: 36px;
        }
        &_h2-order {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &_h2-team {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &_h3-sertif {
            display: inline;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }
}

@media (min-width: 1024px) {
    .title {
        &_about {
            font-size: 36px;
        }
        &_h2-attend {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}
