* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
li {
	list-style-type: none;
}
/* Colors */
:root {
	--white: #ffffff;
	--black: #000000;
	--header: #313131;
	--text: #333333;
	--text-light: #828282;
	--border: rgba(0,0,0,0.3);
	--blue: #3a6fe8;
	--form: #ecf1fd;
	--footer-title: #fbfcfd;
}