* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: all 2s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
}

li {
    list-style-type: none;
}

fieldset {
    border: 0;
}

/* Colors */
:root {
    --white: #ffffff;
    --black: #000000;
    --header: #313131;
    --text: #333333;
    --text-light: #828282;
    --border: rgba(0, 0, 0, 0.3);
    --blue: #3a6fe8;
    --form: #ecf1fd;
    --footer-title: rgba(251, 252, 253, 0.5);
    --input-text: rgba(255, 255, 255, 0.6);
    --install-text: #5f5f5f;
    --odd: #f9f9f9;
    --form-input: #C6C6C6;
    --bg-order: #ecf1fd;
}
